html, body {
    background-color:#212020;
    color:#ccc;
}
#bg { color:#191818 }
.footer { background-color:#161515 }
.menu a { color:#eee }
.menu-admin a { color:#81ccd3 }
.list-group-item {
    background-color:#161515;
    border-color:#333;
}
.calendar {
    border:1px solid #333;
    background-color:#161515;
}
.calendar.weekend { background-color:#1a1a1a }
.calendar.holiday { background-color:#b56363 }
.calendar.today {
    background-color:#ccc !important;
    color:#333;
}
.calendar.today.holiday { background-color:#dd9494 !important }
.calendar.off { background-color:#222 }
.calendar.off.holiday {
    background-color:#d69191;
    color:#333;
}